# gtsam does not exist in pypi for python3.12 and ROMAN does not 
# need it for what we are doing so install other ROMAN dependencies here.
numpy<2
scipy
matplotlib
#gtsam
scikit-image
open3d>=0.18.0
yolov7-package
shapely
opencv-python>=4.6.0
pyyaml
torch==2.4.0
torchvision==0.19.0
fastsam @ git+https://github.com/CASIA-IVA-Lab/FastSAM@4d153e9
robotdatapy>=1.0.1
transforms3d